@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
body {
  background-color: #eeeeee;
  font-family: "Lato", sans-serif;
}

#header {
  display: flex;
  /*border: 1px solid black;*/
  flex-direction: row;
  /*justify-content: center;*/
  justify-content: space-between;
  width: 90%;
  margin: 15px auto;
}

#header #logo {
  /*border: 1px solid blue;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*justify-content: center;*/
  /*align-items: center;*/
}

#header-img {
  width: 300px;
  /*align-items: center;*/
  /*justify-content: center;*/
}

/*#nav-bar #nav-ul {*/
/*list-style-type: none;*/
/*}*/

#nav-ul .nav-li {
  display: inline;
  padding: 0 25px;
  /*border: 1px solid green;*/
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.container {
  margin: auto auto;
  width: 70%;
}

#hero {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form #email {
  padding: 6px 4px;
}

#form #submit {
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #f1c40f;
  margin-top: 15px;
  padding: 5px 0;
  width: 200px;
}

.features {
  width: 80%;
  margin: 30px auto;
  /*border: 1px solid red;*/
}

.grid {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 30px 0;
}

/*.grid div {*/
/*border: 1px solid red;*/
/*}*/

.icon-font {
  color: #f1c40f;
  font-size: 50px;
}

.description {
  padding-left: 60px;
}

#pricing {
  display: flex;
  flex-direction: row;
  /*border: 1px solid red;*/
  /*justify-content: center;*/
  margin-bottom: 10px;
}

.product {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
}

.product ol {
  list-style-type: none;
}

.product-name {
  width: 100%;
  padding: 15px 0;
  background-color: #dddddd;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
}

.product-pricing {
  padding: 15px 0;
}

.list li {
  padding: 5px 0;
}

.btn {
  background-color: #f1c40f;
  border: none;
  margin: 10px;
  padding: 4px 40px;
  text-transform: uppercase;
}

#footer {
  background-color: #dddddd;
  text-align: right;
}
.foot-terms {
  padding: 10px 0;
}

.foot-terms ol li {
  padding: 0 10px;
}

#footer ol li {
  display: inline-block;
  align-content: center;
}
.foot-desc {
  padding: 8px;
  color: #444;
}
